In [438]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [439]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1706,tt0463854,15000000,64238440,28 Weeks Later,Imogen Poots|Robert Carlyle|Rose Byrne|Jeremy ...,Juan Carlos Fresnadillo,When days turn to weeks... the horror returns.,"In this chilling sequel to 28 Days Later, the ...",100,Horror|Thriller|Science Fiction,DNA Films|Figment Films|Sociedad General de Ci...,4/26/2007,6.3,2007
811,tt1650043,21000000,72417394,Diary of a Wimpy Kid: Rodrick Rules,Zachary Gordon|Devon Bostick|Rachael Harris|Ro...,David Bowers,Welcome to the next grade,"Back in middle school after summer vacation, G...",99,Family|Comedy,Fox 2000 Pictures|Color Force,3/25/2011,6.4,2011
166,tt2883512,11000000,45967935,Chef,Jon Favreau|John Leguizamo|Bobby Cannavale|Emj...,Jon Favreau,Starting from scratch never tasted so good,A chef who loses his restaurant job starts up ...,115,Comedy,Open Road Films|Aldamisa Entertainment|Kilburn...,5/8/2014,7.2,2014
697,tt0416212,11000000,38105395,The Secret Life of Bees,Dakota Fanning|Queen Latifah|Jennifer Hudson|S...,Gina Prince-Bythewood,"Bring Your Girlfriends, Sisters, Mothers and D...","Set in South Carolina in 1964, this is the tal...",114,Adventure|Drama,Fox Searchlight Pictures,9/17/2008,7.2,2008
1170,tt0297144,13000000,17040871,Ghosts of the Abyss,Bill Paxton|John Broadwater|James Cameron|Mike...,James Cameron,The legend no one can forget has become the gr...,Academy AwardÂ® winning director and master st...,92,Family|Documentary,Walt Disney Pictures|Walden Media|Earthship Pr...,4/10/2003,6.7,2003

In [440]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [441]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget
#display(data)


# функция возвращает новый датасет, в котором каждой строке из source
# соответсвует несколько строк, в которых содержатся елементы из разбития column по разделителю delimiter.
# строка <1, "a-b-c", 8> будет разбита по второй колонке на 3 строки (delimeter = "-"):
# 1, a, 8
# 1, b, 8
# 1, c, 8
def splitDatasetRows(source, column, delimiter):
    result = pd.DataFrame(columns=source.columns)
    colIndex = list(source.columns).index(column)
    for row in range(len(source)):
        colValues = source.iat[row, colIndex].split(delimiter)
        dataRow = source.iloc[row]
        for cv in colValues:
            #cv2 = cv.replace('\'','')
            dataRow = dataRow.copy()
            dataRow.loc[column] = cv
            result = result.append(dataRow)
    #display(result)
    return result

#display(splitDatasetRows2(data, 'cast', '|'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [442]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [443]:
# тут пишем ваш код для решения данного вопроса:
d = data[data.budget == data.budget.max()]
#display(d)
answers['1'] = list(d.original_title)
print(answers['1'])

['Pirates of the Caribbean: On Stranger Tides']

ВАРИАНТ 2

In [444]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [445]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [446]:
max_runtime = data[data.runtime == data.runtime.max()]
#display(max_runtime)
answers['2'] = list(max_runtime.original_title)
print(answers['2'])

['Gods and Generals']

# 3. Какой из фильмов самый короткий (в минутах)?

In [447]:
# получаем срез по фильмам с минимальной продолжительностью
min_runtime = data[data.runtime == data.runtime.min()]
#display(min_runtime)
answers['3'] = list(min_runtime.original_title)
print(answers['3'])

['Winnie the Pooh']

# 4. Какова средняя длительность фильмов?

In [448]:
answers['4'] = data.runtime.mean()
display(answers['4'])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [449]:
answers['5'] = data.runtime.median()
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [450]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
#display(max_profit)
answers['6'] = list(max_profit.original_title)
#print(answers['6'])

# 7. Какой фильм самый убыточный?

In [451]:
# выбираем фильм с минимальнымой прибылью
min_profit = data[data.profit == data.profit.min()]
#display(min_profit)
answers['7'] = list(min_profit.original_title)
#print(answers['7'])

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [452]:
p1 = data[data.revenue > data.budget]
#p2 = data[data.profit > 0]
#display(p1)
#display(p2)
answers['8'] = len(p1)
print(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [453]:
# берем срез фидьмов по 2008 году
data2008 = data[data.release_year == 2008]
#display(data2008)
# ищем в срезе фильмы с минимальными кассовыми сборами
max_revenue2008 = data2008[data2008.revenue == data2008.revenue.max()]
#display(max_revenue2008)
answers['9'] = list(max_revenue2008.original_title)
print(answers['9'])

['The Dark Knight']

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [454]:
# берем срез фильмов из периода
data1214 = data[(data.release_year >= 2012)& (data.release_year <= 2014)]
#display(data1214)
# получаем набор фильмов с минимальной прибылью
min_profit1214 = data1214[data1214.profit == data1214.profit.min()]
#display(min_profit1214)
answers['10'] = list(min_profit1214.original_title)
#print(answers['10'])

# 11. Какого жанра фильмов больше всего?

In [455]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [456]:
# создаем список жанров и считаем в нем, сколько раз он встречается в списке фильмов
genres = Counter()
for val in data.genres:
    for g in val.split('|'):
        genres[g]+=1
#display(genres)
#display(genres.most_common(1)[0][0])
# берем жанр с самым дольшим количеством вхождений в списке фильмов
answers['11'] = genres.most_common(1)[0][0]
#print(answers['11'])

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [457]:
genres_names = list(genres.keys())
#print(genres_names)
data1 = data
for g in genres_names:
    data1[g] = data1.genres.str.contains(g)
#display(data1)
data2 = data1[data1.profit > 0][genres_names].sum().sort_values(ascending=False)
print(data2)
answers['12'] = data2.index[0]

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Foreign              0
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [458]:
#data13 = splitDatasetRows(data,'director','|')
data13_1 = data13.pivot_table(values =['revenue'], index = ['director'], aggfunc=sum)
data13_1 = data13_1[data13_1.revenue == data13_1.revenue.max()].reset_index()
answers['13'] = data13_1.iloc[0,0]
print(answers['13'])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [459]:
# convert booleans to ints
data14 = data13.Action.apply(lambda x: 1 if x else 0)
# replace column
data13.Action = data14
# get statistics for each director
data14_1 = data13.pivot_table(values =['Action'], index = ['director'], aggfunc=sum).sort_values(by=['Action'], ascending=False).reset_index()
#display(data14_1)
answers['14'] = data14_1.iloc[0, 0]
print(answers['14'])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [460]:
# get only 2012 films and split records by stuff
data15 = data[data.release_year == 2012]
data15 = splitDatasetRows(data15,'cast','|')
# caculate total revenue for each actor
data15_1 = data15.pivot_table(values=['revenue'], index=['cast'], aggfunc=sum).reset_index()
#display(data15_1)
data15_2 = data15_1[data15_1.revenue == data15_1.revenue.max()]
#display(data15_2)
answers['15'] = data15_2.iloc[0, 0]
print(answers['15'])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [461]:
# оставляем сначала только высокобюджетные фильмы
data16 = data[data.budget > data.budget.median()]
# разбиваем строки по артистам
data16_1 = splitDatasetRows(data16,'cast','|')
# групируем и считаем количество строк в каждой группе - получаем количество фильмов по актеру
data16_2 = data16_1.groupby(by=['cast']).count()
# выбираем актеров с максимальным количеством высокобюджетных фильмов
data16_3 = data16_2[data16_2.imdb_id == data16_2.imdb_id.max()]
#display(data16_3)
answers['16'] = list(data16_3.index)
print(answers['16'])

['Matt Damon']

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [462]:
# получаем фильмографию актера
#data17 = splitDatasetRows(data,'cast','|')
data17 = data17[data17.cast.str.contains('Nicolas Cage')]
#display(data17)
# булевы значения в бинарные и аггрегируем данные
r = dict(zip(list(genres),map(lambda x: (lambda y: 1 if y else 0), list(genres))))
data17_1 = data17.aggregate(func=r)
data17_2 = data17_1.aggregate('sum').sort_values(ascending=False)
#display(data17_2)
# в отсортированных по убыванию данных первый ключ - ответ
answers['17'] = data17_2.index[0]
#print(answers['17'])

# 18. Самый убыточный фильм от Paramount Pictures

In [463]:
# разделяем данные по компаниям
#data18 = splitDatasetRows(data,'production_companies','|')
# оставляем только от paramount
data18_1 = data[data.production_companies.str.contains('Paramount Pictures')]
# оставляем только фильмы с минимальным доходом
data18_2 = data18_1[data18_1.profit == data18_1.profit.min()]
#display(data18_2)
answers['18'] = list(data18_2.original_title)
display(answers['18'])

['K-19: The Widowmaker']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [464]:
# группируем по годам и суммируем выручку
data19 = data.groupby(by='release_year').aggregate({'revenue': 'sum'})

In [465]:
#display(data19.sort_values(by=['revenue'], ascending=False))
# забираем фмльмы с самой большой прибылью
answers['19'] = list(data19[data19.revenue == data19.revenue.max()].index)
#print(answers['19'])

# 20. Какой самый прибыльный год для студии Warner Bros?

In [466]:
# берем фильмы, созданные при участии Warner Bros
data20_1 = data[data.production_companies.str.contains('Warner Bros')]
# группируем по годам и суммируем прибыль, сортируем по убыванию прибыли
data20_2 = data20_1.groupby(by='release_year').sum().sort_values(by=['profit'], ascending=False)
# display(data20_2)
# display(list(data20_2[data20_2.revenue == data20_2.revenue.max()].index))
answers['20'] = list(data20_2[data20_2.revenue == data20_2.revenue.max()].index)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [467]:
# по каждому фильму получаем месяц его выхода
months = data.release_date.apply(lambda d: d.partition('/')[0])
# считаем количество фильмов для каждого месяца и сортируем 
filmPerMonth = months.value_counts().sort_values(ascending=False)
#display(filmPerMonth)
answers['21'] = filmPerMonth.index[0]
#print(answers['21'])

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [468]:
#  на основе предыдущих данных считаем летние фильмы
answers['22'] = filmPerMonth['6']+filmPerMonth['7']+filmPerMonth['8']
#print(answers['22'])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [469]:
# бьем фильмы по режиссерам
data23 = splitDatasetRows(data,'director','|')
# добавляем колонку с флагом "зимний фильм"
data23['winter'] = data23.release_date.apply(lambda d: 1 if d.partition('/')[0] in ['1','2','12'] else 0 )
# группируем по режиссеру и считаем для каждого количество фильмов с признаком "зимний фильм"
data23_1 = data23.groupby(by='director').aggregate({'winter': 'sum'}).sort_values(by=['winter'], ascending = False)
#display(data23_1)
answers['23'] = data23_1.index[0]
#months23 = data23.release_date.apply(lambda d: d.partition('/')[0])
#months23
#print(answers['23'])

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [470]:
data24 = data
# добавляем колонку с длиной названия
data24['titlelen'] = data24.original_title.apply(lambda x: len(x))
# выбираем фильмы с максимальным названием
data24_1 = data24[data24.titlelen == data24.titlelen.max()]
#display(data24_1)
answers['24'] = data24_1.production_companies.iloc[0].split('|')
#print(answers['24'])

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [471]:
#data25 = splitDatasetRows(data,'production_companies','|')
#data25['overview_words'] = data25.overview.str.count('(([A-Z]|[a-z])+(-)*([A-Z]|[a-z])*)|([0-9]+.*[0-9]*)')
data25_1 = data25.groupby(by=['production_companies']).mean().sort_values(by=['overview_words'],ascending=False)
print(data25_1.index[0])
answers['25'] = data25_1.index[0]

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [472]:
data26_Q = data.vote_average.quantile(0.99, interpolation = 'lower')
data26_1 = data[data.vote_average >= data26_Q]
display(list(data26_1.original_title))
answers['26'] = list(data26_1.original_title)

['Inside Out',
 'Spotlight',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'Big Hero 6',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'The Theory of Everything',
 'The Fault in Our Stars',
 'Mr. Nobody',
 '3 Idiots',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Dark Knight',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 'Her',
 '12 Years a Slave',
 'Prisoners',
 'Dallas Buyers Club',
 'The Prestige',
 'Eternal Sunshine of the Spotless Mind',
 'There Will Be Blood',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [473]:
#display(data.columns)
#data27=data.filter(['original_title','cast'], axis=1)
#data27_1=splitDatasetRows(data27,'cast','|')
#display(data27_1)
#actors = data27_1.cast.unique()
#pairs = dict()
#for F in range(0,len(actors)-1):
#    actorF = actors[F]
#    for S in range(F,len(actors)):
#        actorS = actors[S]
#        pairs[(actorF, actorS)] = len(data[data.cast.str.contains(actorF) & data.cast.str.contains(actorS)])

#print(pairs)

In [474]:
cnt = Counter()
for r in range(len(data)):
    filmActors = data.iloc[r].cast.split('|')
    filmActors.sort()
    for one in range(len(filmActors)-1):
        actorOne = filmActors[one]
        for two in range(one+1, len(filmActors)):
            actorTwo = filmActors[two]
            cnt[(actorOne, actorTwo)] +=1
            
cnt2 = dict(cnt)
df = pd.DataFrame(cnt2.values(), index = cnt.keys(), columns=['coworks'])
#df.sort_values(by=['coworks'], ascending=False)
answers['27'] = list(df[df.coworks == df.coworks.max()].index)
print(answers['27'])

[('Daniel Radcliffe', 'Emma Watson'), ('Daniel Radcliffe', 'Rupert Grint'), ('Emma Watson', 'Rupert Grint')]

# Submission

In [475]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': ['Pirates of the Caribbean: On Stranger Tides'],
 '2': ['Gods and Generals'],
 '3': ['Winnie the Pooh'],
 '4': 109.6585494970884,
 '5': 107.0,
 '6': ['Avatar'],
 '7': ['The Lone Ranger'],
 '8': 1478,
 '9': ['The Dark Knight'],
 '10': ['The Lone Ranger'],
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': ['Matt Damon'],
 '17': 'Action',
 '18': ['K-19: The Widowmaker'],
 '19': [2015],
 '20': [2014],
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': ['Twentieth Century Fox Film Corporation', 'Four By Two Productions'],
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Spotlight',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'Big Hero 6',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'The Theory of Everything',
  'The Fault in Our Stars',
  'Mr. Nobody',
  '3 Idiots',
  'Inception',
  'The Lord of the Rings: The Fellowship of the Ring',
  'The Dark Knight',
  'The Lord of the Rings: The Two Towers',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  'Her',
  '12 Years a Slave',
  'Prisoners',
  'Dallas Buyers Club',
  'The Prestige',
  'Eternal Sunshine of the Spotless Mind',
  'There Will Be Blood',
  'Memento'],
 '27': [('Daniel Radcliffe', 'Emma Watson'),
  ('Daniel Radcliffe', 'Rupert Grint'),
  ('Emma Watson', 'Rupert Grint')]}

In [476]:
# и убедиться что ни чего не пропустил)
len(answers)

27